.header {
    grid-row: header-s/header-e;

    display: grid;
    justify-content: center;
    align-items: center;
   
}



.navbar {
    grid-row: navbar-s/navbar-e;
    background-color: #333;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

}

